<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredients</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Ingredients</h1>

    <ul>
      <% ingredients.forEach(ingredient => { %>
      <li><%= ingredient.name %></li>
      <% }) %>
    </ul>

    <h2>Add a New Ingredient</h2>
    <form action="/ingredients" method="POST">
      <input type="text" name="name" placeholder="Ingredient Name" required />
      <button type="submit">Add Ingredient</button>
    </form>
  </body>
</html>
