<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Recipes</h1>
    <a href="/recipes/new">Add New Recipe</a>
    <ul>
      <% recipes.forEach(recipe => { %>
      <li>
        <a href="/recipes/<%= recipe._id %>"><%= recipe.recipeName %></a>
        <form
          action="/recipes/<%= recipe._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
